<h1> Profile Name: <%= @profile.name %> </h1>
<p> <%= link_to "Edit Profile", edit_profile_path(@profile) %> <%= link_to " New Review", new_profile_review_path(current_user.profile) %> <%= link_to "Log out", logout_path, method: "delete" %></p>
<h2> About Me: <h2>
<p> <%= @profile.bio %><P>

<h2> Reviews by <%=@profile.name %> </h2>
    <% if @profile.reviews.empty? %>
        <p> So empty. No reviews made yet :( </p>
        <% else %>
        <ol>
            <% @profile.reviews.each do |review| %>
                <li>Escape Room Visted:<%= link_to review.escape_room.title, escape_room_path(review.escape_room) %><br>
                Review: <%= link_to review.title, profile_review_path(review) %></li>
                <% end %>
        </ol>
    <% end %>
