<h1> Login </h1>
<%= link_to "Login via Tumblr", "/auth/tumblr" %>
<%= form_for :user do |f|%>
        <%= f.label "Username:" %>
        <%= f.text_field :username %><br><br>
        <%= f.label "Password: "%>
        <%= f.password_field :password %><br><br>
        <%= f.submit "Login" %>
<% end %>