<h1> Sign Up! </h1>
<p> Already have an account?  <%=link_to "Login", login_path %> </p>
<p> <%= link_to "Sign up via Tumblr", "/auth/tumblr", method: "post" %></p>
<%= render partial: '/shared/errors', locals: {object: @user} %>
<%= form_for @user, url:signup_path do |f| %> 
    <%= f.label "Username:" %>
    <%= f.text_field :username %><br><br>
    <%= f.label "Password:" %>
    <%= f.password_field :password %><br><br>
    <%= f.submit "Create Account" %>
<% end %>