<h1> Edit </h1>
<%= form_for ([@review.profile, @review]) do |f| %>
    <%= f.label "Title" %>
    <%= f.text_field :title %><br><br>
    <%= f.label "Rating:" %>
    <%= f.select :rating, options_for_select([["Please select one", ""], 5, 4, 3, 2, 1]) %><br><br>
    <%= f.label "Content:" %>
    <%= f.text_area :content, placeholder:"some review about escape room" %><br><br>
    <%= f.submit %>
 <% end %>