<h1> New Review </h1>

<%= render partial: 'shared/errors', locals:{object: @review} %>
<%= form_for ([@escaperoom, @profile, @review]) do |f| %>
    <%= f.label "Title" %>
    <%= f.text_field :title %><br><br>
    <%= f.label "Rating:" %>
    <%= f.select :rating, options_for_select([["Please select one", ""], 5, 4, 3, 2, 1]) %><br><br>
    <%= f.label "Escape Room:" %>
    <%= f.collection_select :escape_room_id, EscapeRoom.all, :id, :title, prompt:"Select or leave blank" %><br><br>
    <p> Room not there? Create an Escape Room </p>
        <%= f.fields_for :escape_room, @review.build_escape_room do |room_fields| %>
            <%=f.hidden_field :profile_id, value: @review.profile_id %>      
        <%= room_fields.label "Title" %>
        <%= room_fields.text_field :title %>
        <%= room_fields.label "Difficulty" %>
        <%= room_fields.text_field :difficulty%>
        <%= room_fields.label "Location" %>
        <%= room_fields.text_field :location, placeholder: "online/ 1234 NY" %><br>
        <%= room_fields.label "Hours" %>
        <%= room_fields.text_field :hours, placeholder: "9am to 5pm"%>
        <%= room_fields.label "Description" %>
        <%= room_fields.text_area :description %><br><br>
    <% end %>
    <%= f.label "Content:" %>
    <%= f.text_area :content, placeholder:"some review about escape room" %><br><br>
    <%= f.submit %>
 <% end %>